*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.feature-container{
    display:flex;
    flex-direction:start;

    border:2px solid black;
    border-radius: 10px;
    margin:10px;
    padding:30px;
    gap:20px;
}

.timer{
    display: inline-block;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
}

.timer div{
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.timer span{
    font-family: 'Courier New', Courier, monospace;
    font-size: 4rem;
}

.reset{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
}

.total-error{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;

    font-family: 'Courier New', Courier, monospace;
}

.total-error .error-count{
    font-size: 4rem;
}

.total-error > div:first-child{
    font-size: 2rem;
}

.total-keystroke{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;

    font-family: 'Courier New', Courier, monospace;
}

.total-keystroke > div:first-child{
    font-size: 2rem;
}

.total-keystroke .keystroke-count{
    font-size: 4rem;
}
.reset button{
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;

    transition:transform 0.2s ease, background-color 0.2s ease;
}

.reset button:hover{
    background-color: #2980b9;
    transform: scale(1.05);
}
.text-area-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    overflow:hidden;
    font-family: 'Courier New', Courier, monospace;
    padding:30px;
    
    border: 2px solid black;
    border-radius: 10px;
    margin:10px;

}

.word-span{
    display: inline-block;
    white-space: nowrap;
    margin-right: 10px;
}

.char-block{
    display: inline-block;
}

.cursor{
    border-left: 2px solid green;
    animation: blink 1s infinite;
}

.error{
    background-color: red;
}

@keyframes blink {
    0%, 100% {border-color: transparent;} /*hidden*/
    30%      {border-color: green;} /*visible*/
}

.correct{
    background-color: green;
}
