*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.feature-container{
    display:flex;
    justify-content: space-between;
    background-color: blanchedalmond;

    border:2px solid black;
    border-radius: 10px;
    margin:10px;
    padding:10px;
    gap:20px;
}

.timer, .speed, .accuracy, .score, .total-error, .total-keystroke{
    padding: 10px;
    color: #2980b9;
}

.timer div, .speed div, .accuracy div, .score div, .total-error div, .total-keystroke div{
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.timer span, .speed span, .accuracy span, .score span, .total-error span, .total-keystroke span{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
}

.reset{
    padding: 10px;
}

.reset button{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;

    transition:transform 0.2s ease, background-color 0.2s ease;
}

.reset button:hover{
    background-color: #2980b9;
    transform: scale(1.05);
}
.text-area-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    overflow:hidden;
    font-family: 'Courier New', Courier, monospace;
    padding:30px;
    border: 2px solid black;
    border-radius: 10px;
    margin:10px;

    background-color: antiquewhite;

}

.word-span{
    display: inline-block;
    white-space: nowrap;
    margin-right: 10px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px 20px;
}

.char-block{
    display: inline-block;
}

.cursor{
    border-bottom: 2px solid black;
    animation: blink 1s infinite;
}

.error{
    background-color: red;
}

@keyframes blink {
    0%, 100% {border-color: transparent;} /*hidden*/
    30%      {border-color: black;} /*visible*/
}

.correct{
    background-color: green;
}
